.pedroteixeira-grid-wrapper {
  table {

    thead tr th, tbody tr td {
      text-align: center;
      vertical-align: middle;
    }

    thead {

      tr th {

        cursor: pointer;

        input, select {
          padding: 0px;
          margin: 0px;
          width: auto;
          font-size: 0.85em;
        }

        select {
          height: auto;
        }
      }
    }

    tfoot{
      #pagination {
        font-size: 0.85em;

        span {
          vertical-align: middle;
        }

        input {
          padding: 0;
          margin: 0;
          width: 40px;
          text-align: center;
        }
      }
    }
  }
}